@model MvcCv2.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "SertikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h4> Sertifika Düzenleme Sayfası</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })

    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle </button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">Sil</a>
    
</form>






